.back{
    padding: 10px;
    margin: 5px;
    background-color: brown;
    color: wheat;
    font-size: 15px;
}
body{
    text-align: center;
}
input, select{
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}
.submit{
    padding: 10px;
    margin: 5px;
    background-color: green;
    color: wheat;
    font-size: 15px;
}