table{
    border-collapse: collapse;
}
th{
    border: solid;
    width: 10%;
    padding: 2px;
}
td{
    border: solid 1px black;
    padding: 4px;
    text-align: center;
    height: 30px;
}


input{
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}
.back{
    padding: 10px;
    margin: 5px;
    background-color: brown;
    color: wheat;
    font-size: 15px;
}
.submit{
    padding: 10px;
    margin: 5px;
    background-color: green;
    color: wheat;
    font-size: 15px;
}